.tab-titles h1 {
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  background-color: lightblue;
  text-decoration: none;
}

.selected-title {
  font-weight: bold;
}

.tab-current-contents {
  font-family: sans-serif;
  color: white;
  background-color: #673ab7;
  font-weight: normal;
}
